name: AppShell CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    name: Run tests
    defaults:
      run:
        working-directory: ./backend

    runs-on: ubuntu-latest
    container:
      image: node:22

    steps:
      - uses: actions/checkout@v4

      - run: echo "$PWD"
      
      - run: npm ci
        name: Install dependencies

      - run: npm run test
        name: Run tests

      - run: npm run build
        name: Build project
